body{
    margin: 0;
    font-family: "Poppins", sans-serif;;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

/* INICIO DE SESIÓN Y REGISTRO DE USUARIOS */

.login-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px 0px #333;
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    margin-left: 15px;
}

.input-container input{
    width: 90%;
    height: 40px;
    font-size: 1.2rem;
}
.input-container label{
    font-size: 1.3rem;
}

.login-form button{
    width: 90%;
}

.login-form button {
    margin-left: 15px;
    background-color: #324768;
    border-color: #324768;
    font-size: 1.2rem;
    font-weight: 400;
}

.login-form button:hover {
    background-color: #32476889;
    outline: none;
    border-color: #324768;
}

.login-form button:active {
    background-color: #324768 !important;
    outline: none;
    border-color: #324768;
}

.login-form__links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form__links a{
    color: black;
    text-decoration: none;
}

.login-form__links a:hover{
    text-decoration: underline;
}

.regist-form{
    height: 500px;
}

@media (max-width: 400px) {
    .login-form{
        width: 100%;
    }
}

/* END INICIO DE SESIÓN Y REGISTRO DE USUARIOS */

/* ADMIN DASHBOARD */

.dashboard-body {
    border: 0 !important;
    display: grid !important;
    grid-template-columns: 1fr 3fr 3fr !important;
    grid-template-rows: auto 1fr;
    margin: auto !important;
    width: 100vw !important;
    grid-template-areas:
        "side-bar header header"
        "side-bar main main"
        "side-bar main main" !important;
}

@media (max-width:1426px) {
    .dashboard-body {
        grid-template-columns: 100vw 100vw !important;
        grid-template-rows: 1fr 8fr !important;
        grid-template-areas:
        "header header header header"
        "main main main main"
        "main main main main" !important;
    }
}

/* ADMIN HEADER */

.dashboard-header{
    grid-area: header;
    background-color: #324768;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
}
.user-img__container{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}


.drop-down-menu{
    background-color: #fff;
    color: black;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #333;
    position: absolute;
    top: 40px;
    right: 20px;
    display: none;
}

.user-menu__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-menu__list li:hover{
    background-color: #e0dddd;
}

.user-menu__item{
    padding-left: 15px;
}

.user-menu__item a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.user-menu__item:first-child{
    border-bottom: 1px solid #333;
}


.mobile-logo{
    display: none;
    width: max-content;
}

@media (max-width:1426px) {
    .dashboard-header{
        width: 100vw;
        justify-content: start;
        gap: 0%;
    }

    .title__container{
        display: none;
    }

    .mobile-logo{
        display: flex;
        width: max-content;
        margin-left: 15px;
    }

    .user-img__container{
        margin-left: auto;
        margin-right: 20px;
    }
}

/* END ADMIN HEADER */


/* ADMIN SIDE-NAV */
.side-nav{
    grid-area: side-bar;
    background-color: #324768;
    height: 100vh !important;
}


.options__container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
}


.nav-bar__link{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo__container{
    padding-top: 20px;
}

.option, .logo__container{
    padding-left: 25px;
}

.option:last-child{
    margin-top: 250px;
}

@media (max-width:1426px) {
    .side-nav{
        grid-area: none;
        background-color: #324768;
        display: none;
        
    }
}

@media (max-height: 848px) {
    .side-nav{
        height: 100% !important;
    }
    
}

/* END ADMIN SIDE-NAV */


/* ADMIN MAIN-SECTION */
.main-section{
    grid-area: main;
}

/* REPORTES Y TIENDAS */

.opciones-reportes__container{
    padding-top: 20px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid #333;

}

.nav-options__reportes{
    margin-right: 10px !important;
}

.btn-nueva-falla{
    background-color: #324768 !important;
    border-color: #324768 !important;
}

.btn-nueva-falla:hover{
    background-color: #19263a !important;
    border-color: #324768 !important;
}

.btn-nueva-falla:focus{
    background-color: #324768 !important;
    border-color: #324768 !important;
}

.btn-excel{
    background-color: #1D6F42 !important;
    border-color: #1D6F42 !important;
    color: #fff !important;
}

.btn-excel:hover{
    border-color: #1D6F42;
    background-color: #0f4628 !important;
}

.btn-excel:active{
    border-color: #1D6F42;
    background-color: #1D6F42;
}

.btn-filtrar-falla{
    background-color: #324768 !important;
    border-color: #324768 !important;
}

.btn-fltrar-falla:hover{
    background-color: #19263a !important;
    border-color: #324768 !important;
}

.btn-fltrar-falla:focus{
    background-color: #324768 !important;
    border-color: #324768 !important;
}

.table-reportes{
    margin-top: 50px;
}

.btn-del-reporte, .btn-edit-reporte{
    width: 90%;
}

.date-input__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px #333;
    display: none;
}

.date-input{
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 5px 0px #333;
}

.date-input, .btn-date{
    width: 90%;
    height: 40px;
}

/* MODAL NUEVA TIENDA */

.new-tienda__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.new-tienda-input__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.new-tienda-input__container input {
    width: 90%;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 7px;
    border: 1px solid #333;
}

.new-tienda-input__container input:focus {
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px 0px #333;
}

.new-tienda-input__container label {
    font-size: 1.2rem;
}

.new-tienda-input__container input, .new-tienda-input__container label {
    margin-left: 30px;
}

.btn-nueva-tienda{
    display: flex;
    margin: auto;
    background-color: #324768 !important;
    border-color: #324768 !important;
    margin-top: 40px;
    width: 90%;
    font-size: 1.2rem;
}

.btn-nueva-tienda:hover{
    background-color: #19263a !important;
    border-color: #324768 !important;
}

.btn-nueva-tienda:focus{
    background-color: #324768 !important;
    border-color: #324768 !important;
}

@media print {
    .td-btn {
        display: none !important;
    }
}

/* END MODAL NUEVA TIENDA */

/* END REPORTES Y TIENDAS */

@media (max-width:1426px) {
    .main-section{
        width: 100vw;
    }
}

/* AJUSTES */

.ajustes-opt__container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 50px;
}

.ajustes-opt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-bottom: 1px solid #7b7373;
    height: 250px;
    gap: 20px;
}

.btn-config-cambiar{
    margin-bottom: 10px;
}

.ajustes-opt h2{
    color: #7b7373;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.ajustes-opt input {
    border-radius: 6px;
    border: 1px solid #7b7373;
    width: 270px;
    height: 40px;
}

.eliminar-cuenta-h2{
    color: #dc3545 !important;
}

.ajustes-opt h2, .ajustes-opt input, .ajustes-opt button, .ajustes-opt span{
    margin-left: 40px;
}

.ajustes-opt:first-child{
    margin-top: 50px;
}

.ajustes-opt:last-child{
    border-bottom: none;
}

.ajustes-opt:last-child button{
    margin-bottom: 40px;
}

/* END AJUSTES */



/* END ADMIN MAIN-SECTION */

/* END ADMIN DASHBOARD */





/* TIENDAS DASHBOARD */

/* MIS REPORTES */

.tiendas-grid-wrapper{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(autofill, 350px);
    gap: 10px;
}

.tienda-card{
    margin-top: 20px;
    height: max-content;
    display: flex;
    align-items: start;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #333;
    margin-left: 15px;
}

.side-line-decorator{
    width: 10px;
    height: 350px;
    border-radius: 10px;
    background-color: #eda60c;
}

.tienda-card-items__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.tienda-card-item, .tienda-card-footer{
    width: 100%;
}

.tienda-card-item h2{
    font-size: 1.4rem;
    font-weight: 600;
}

.tienda-card-header{
    margin-top: 10px;
    border-bottom: 1px solid #545353;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tienda-card-body {
    display: flex;
    justify-content: center;
    height: 90%;
}

.tienda-card-body textarea{
    width: 90%;
    height: 100%;
    border: none;
    box-shadow: 0px 0px 3px 0px #333;
    resize: none;
}

.tienda-card-body textarea:focus{
    outline: none;
    border: none;
}

.tienda-card-footer{
    display: flex;
    gap: 330px;
}

.card-fecha-reporte{
    margin-left: 25px;
}

.btn-resolver{
    width: max-content;
    height: max-content;
    border: none;
    background-color: transparent;
}

@media (max-width: 1778px) {
    .tiendas-grid-wrapper{
        grid-template-columns: repeat(2, 500px);
        justify-content: center;
    }
}

@media (max-width: 1004px) {
    .tiendas-grid-wrapper{
        grid-template-columns: repeat(1, 500px);
        justify-content: center;
    }
}

@media (max-width: 490px) {
    .tiendas-grid-wrapper{
        grid-template-columns: repeat(1, 100%);
        justify-content: left;
    }

    .tienda-card-footer{
        gap: 0;
    }

    .tienda-card-footer button{
        margin-left: auto;
        margin-right: 15px;
    }

    .tienda-card{
        margin-left: 0px;
    }
}

/* END MIS REPORTES */

/* END TIENDAS DASHBOARD */






