body{
    margin: 0;
    font-family: "Poppins", sans-serif;;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

/* INICIO DE SESIÓN Y REGISTRO DE USUARIOS */

.login-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px 0px #333;
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    margin-left: 15px;
}

.input-container input{
    width: 90%;
    height: 40px;
    font-size: 1.2rem;
}
.input-container label{
    font-size: 1.3rem;
}

.login-form button{
    width: 90%;
}

.login-form button {
    margin-left: 15px;
    background-color: #324768;
    border-color: #324768;
    font-size: 1.2rem;
    font-weight: 400;
}

.login-form button:hover {
    background-color: #32476889;
    outline: none;
    border-color: #324768;
}

.login-form button:active {
    background-color: #324768 !important;
    outline: none;
    border-color: #324768;
}

.login-form__links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form__links a{
    color: black;
    text-decoration: none;
}

.login-form__links a:hover{
    text-decoration: underline;
}

.regist-form{
    height: 500px;
}

@media (max-width: 400px) {
    .login-form{
        width: 100%;
    }
}

/* END INICIO DE SESIÓN Y REGISTRO DE USUARIOS */

/* ADMIN DASHBOARD */

.dashboard-body {
    border: 0 !important;
    display: grid !important;
    grid-template-columns: 1fr 3fr 3fr !important;
    grid-template-rows: 1fr 3fr 6fr !important;
    margin: auto !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
    grid-template-areas:
        "side-bar header header"
        "side-bar main main"
        "side-bar main main" !important;
}

/* ADMIN HEADER */

.dashboard-header{
    grid-area: header;
    background-color: #324768;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70%;
}

.user-img__container{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}


.drop-down-menu{
    background-color: #fff;
    color: black;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #333;
    position: absolute;
    top: 40px;
    right: 20px;
    display: none;
}

.user-menu__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-menu__item{
    padding-left: 15px;
}

.user-menu__item a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.user-menu__item:first-child{
    border-bottom: 1px solid #333;
}

.user-img__container:hover .drop-down-menu{
    display: block !important;
}

/* END ADMIN HEADER */


/* ADMIN SIDE-NAV */
.side-nav{
    grid-area: side-bar;
    background-color: #324768;
}

.options__container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
}


.nav-bar__link{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo__container{
    padding-top: 20px;
}

.option, .logo__container{
    padding-left: 25px;
}

.option:last-child{
    margin-top: 250px;
}

/* END ADMIN SIDE-NAV */


/* ADMIN MAIN-SECTION */
.main-section{
    grid-area: main;
    border: 1px solid #333;
}

/* REPORTES */

/* END REPORTES */

/* END ADMIN MAIN-SECTION */

/* END ADMIN DASHBOARD */






