{% extends 'admin.html' %}
{% block title %} Admin dashboard-tiendas {% endblock %}

{% block content %}

        <div class="opciones-reportes__container">

            <nav class="nav-reportes">
                <ul class="nav-list__reportes">
                    <button class="nav-options__reportes btn btn-primary btn-nueva-falla">
                        <span>Nueva tienda</span>
                    </button>

                    <button class="nav-options__reportes btn btn-primary btn-excel">
                        <span>Migrar a excel</span>
                    </button>
                </ul>
            </nav>

        </div>
    <table class="table table-striped-columns table-reportes">
        <tr>
            <th>ID</th>
            <th>Tienda</th>
            <th>Nombre del encargado</th>
            <th>Apellido del encargado</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Nike</td>
            <td>Juan</td>
            <td>Koch</td>
            <td class="td-btn"><button class="btn btn-primary btn-edit-reporte">Editar</button></td>
            <td class="td-btn"><button class="btn btn-danger btn-del-reporte">Eliminar</button></td>
        </tr>
    </table>
{% endblock %}