{% extends 'admin.html' %}
{% block title %} Admin dashboard-tiendas {% endblock %}

{% block content %}

        <div class="opciones-reportes__container">

            <nav class="nav-reportes">
                <div class="nav-list__reportes">
                    <button class="nav-options__reportes btn btn-primary btn-nueva-falla" data-bs-toggle="modal" data-bs-target="#new-tienda-modal">
                        <span>Nueva tienda</span>
                    </button>

                    <button class="nav-options__reportes btn btn-primary btn-excel" onclick="migrarExcel()">
                        <span>Migrar a excel</span>
                    </button>
                </div>
            </nav>

        </div>

    {% if message  %}
        <div class="alert alert-danger">
            <span>{{message}}</span>
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped-columns table-reportes" id="tablaReportes">
            <tr>
                <th>ID</th>
                <th>Tienda</th>
                <th>Nombre del encargado</th>
                <th>Apellido del encargado</th>
            </tr>
    
            {% for record in tiendas %}
            <tr>
                <td id="id-tienda-{{record.idtiendas}}">{{record.idtiendas}}</td>
                <td id="tienda-{{record.idtiendas}}">{{record.nombre_tienda}}</td>
                <td id="nombre-{{record.idtiendas}}">{{record.nombre}}</td>
                <td id="apellido-{{record.idtiendas}}">{{record.apellido}}</td>
    
                <td class="td-btn"><button id-tiendas="{{record.idtiendas}}" class="btn btn-primary btn-edit-reporte" data-bs-toggle="modal" data-bs-target="#edit-tienda-modal" onclick="editTienda(this.getAttribute('id-tiendas'))">Editar</button>
                <input type="hidden" value="{{record.idusuarios}}" id="id-user-tienda-{{record.idtiendas}}"></td>
    
                <td class="td-btn"><button id-tiendas="{{record.idtiendas}}" id-usuarios="{{record.idusuarios}}" class="btn btn-danger btn-del-reporte" onclick="elim_usuario_admins(this.getAttribute('id-usuarios'))">Eliminar</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="new-tienda-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Tienda</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('admin.tiendas')}}" method="post" class="new-tienda__form">
                    <div class="new-tienda-input__container">
                        <label for="tienda">Nombre de la tienda</label>
                        <input type="text" name="tienda" id="tienda">
                    </div>

                    <div class="new-tienda-input__container">
                        <label for="tienda">Nombre del encargado</label>
                        <input type="text" name="nombre" id="nombre-tienda">
                    </div>

                    <div class="new-tienda-input__container">
                        <label for="apellido-tienda">Apellido del encargado</label>
                        <input type="text" name="apellido" id="apellido-tienda">
                    </div>

                    <div class="new-tienda-input__container">
                        <label for="email-tienda">Email</label>
                        <input type="email" name="email" id="email-tienda">
                    </div>

                    <div class="new-tienda-input__container">
                        <label for="contraseña-tienda">Contraseña</label>
                        <input type="password" name="contraseña" id="contraseña-tienda">
                    </div>

                    <button class="btn btn-primary btn-nueva-tienda">Enviar</button>
                </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="edit-tienda-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Ediatr Tienda</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="new-tienda__form">
                    <div class="new-tienda-input__container">
                        <label for="edit-tienda">Nombre de la tienda</label>
                        <input type="text" name="tienda" id="edit-tienda">
                    </div>

                    <div class="new-tienda-input__container">
                        <label for="edit-tienda">Nombre del encargado</label>
                        <input type="text" name="nombre" id="edit-nombre-tienda">
                    </div>

                    <div class="new-tienda-input__container">
                        <label for="edit-apellido-tienda">Apellido del encargado</label>
                        <input type="text" name="apellido" id="edit-apellido-tienda">
                    </div>

                    <input type="hidden" id="edit-tienda-id">
                    <input type="hidden" id="edit-tienda-user-id">

                    <button class="btn btn-primary btn-nueva-tienda" onclick="patch_tienda()">Enviar</button>
                </div>
            </div>
          </div>
        </div>
      </div>

    <script src="../../../../js/excel.js"></script>
{% endblock %}